.colorss {
    background-color: rgba(55, 55, 255, 0.959);
    padding: 1em;
    position: relative;
    margin-bottom: 3em;
}

a {
    color: #636363;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 2em;
    color: gray;
    text-decoration-line: none;
}

a:hover {
    color: #000000;
}

@media (max-width: 400px) {
    .movil {}
}